RewriteEngine on
RewriteCond %{HTTP_HOST} ^picassosmiles.com [NC]
RewriteRule ^(.*)$ http://www.picassosmiles.com/$1 [L,R=301,NC]
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

Redirect 301 /el-paso/dentists.html /el-paso/about/dentists.html
Redirect 301 /el-paso/smile-gallery.html /el-paso/about/smile-gallery.html
Redirect 301 /el-paso/picasso-complete-patient-forms.pdf /el-paso/about/picasso-complete-patient-forms.pdf
Redirect 301 /el-paso/insurance-financing.html /el-paso/about/insurance-financing.html
Redirect 301 /el-paso/appointment.html /el-paso/
Redirect 301 /el-paso/about/appointment.html /el-paso/
Redirect 301 /cosmetic-dentistry/index.html /culver-city/cosmetic-dentistry/index.html
Redirect 301 /cosmetic-dentistry/veneers.html /culver-city/cosmetic-dentistry/veneers.html
Redirect 301 /cosmetic-dentistry/lumineers.html /culver-city/cosmetic-dentistry/lumineers.html
Redirect 301 /cosmetic-dentistry/crowns.html /culver-city/cosmetic-dentistry/crowns.html
Redirect 301 /cosmetic-dentistry/fillings.html /culver-city/cosmetic-dentistry/fillings.html
Redirect 301 /dental-implants/index.html /culver-city/dental-implants/index.html
Redirect 301 /clear-braces/index.html /culver-city/clear-braces/index.html
Redirect 301 /invisalign-braces/index.html /culver-city/clear-braces/index.html
Redirect 301 /sedation-dentistry/index.html /culver-city/sedation-dentistry/index.html
Redirect 301 /sedation-dentistry/sedation-dentistry-faq.html /culver-city/sedation-dentistry/sedation-dentistry-faq.html
Redirect 301 /sleep-apnea/index.html /culver-city/sleep-apnea.html
Redirect 301 /pediatric-dentistry/index.html /culver-city/pediatric-dentistry/index.html
Redirect 301 /pediatric-dentistry/kids.html /culver-city/pediatric-dentistry/kids.html
Redirect 301 /other-services/index.html /culver-city/other-services/index.html
Redirect 301 /other-services/gum-therapy.html /culver-city/other-services/gum-therapy.html
Redirect 301 /other-services/oral-surgery.html /culver-city/other-services/oral-surgery.html
Redirect 301 /other-services/teeth-whitening.html /culver-city/other-services/teeth-whitening.html
Redirect 301 /other-services/dentures.html /culver-city/other-services/dentures.html
Redirect 301 /other-services/fixed-bridges.html /culver-city/other-services/fixed-bridges.html
Redirect 301 /other-services/x-rays.html /culver-city/other-services/x-rays.html
Redirect 301 /other-services/ct-scan.html /culver-city/other-services/ct-scan.html
Redirect 301 /other-services/tmj.html /culver-city/other-services/tmj.html
Redirect 301 /culver-city/about/appointment.html /culver-city/
